* {
	margin: 0px;
	padding: 0px;
	font-family: 'Prompt', sans-serif;
}

body {
	background-color: lavender !important;
}

#wrapper {
	width: 900px;
	height: 500px auto;
	margin: 20px auto;
	padding: 20px;
	background-color: white;
	box-shadow: 1px 1px 10px;
}

.wrapper {
	height: 500px;
}

.content {
	padding: 20px !important;
	background-color: white !important;
}

h1 {
	text-align: center;
	padding-bottom: 30px;
}

thead {
	background-color: red;
	color: white;
	text-align: center;
}

a#ubah {
	background-color: blue;
	color: white;
	padding: 5px;
	margin: 5px 5px 5px 0;
	text-decoration: none;
}

a#hapus {
	background-color: red;
	color: white;
	padding: 5px;
	text-decoration: none;
}